.hidden{
    display: none;
}
body{
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
}

img{
    border: none;
    padding: 0;
    margin: 0;
}

#container{
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    
}
.flex{
    display: flex;
}

#main-logo{
    grid-column: 1/4;
}

#main-nav input, #burger-con {
    display: none;
}

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom: 10px;
}
 
  #first-button{
      position: absolute;
      top: 570px;
      margin-left: 180px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      color: #E0A96D;
      font-size: 16px;
      padding: 16px 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      }
    
      .learnmore-button #first-button:hover{
        background-color: #BC8D5A;
      color: rgb(0, 0, 0);
      }